<div  [ngClass]="{'rtl' : rtl ,'sliding-dir-expanded':expanded }" class="sliding-dir" >  
    <div class="menu-panel-container"[ngClass]="{'expanded':expanded}">
        <div class="menu-panel" [ngClass]="{'constricted' : !expanded}">
            <div class="menu-panel-view" > 
                <div class="title" (click)="toggleMenu()" >             
                    <div class="title-content" > 
                    <span [ngStyle]="{'visibility':expanded ? 'visible' : 'hidden'}">{{title}}</span>
                    <i class="{{titleIcon}} title-icon" aria-hidden="true" ></i>
                </div>    
                </div>
                <div class="menu-details-panel"   [ngStyle]="{'visibility':expanded ? 'visible' : 'hidden'}" >            
                            <ng-content > </ng-content>
                </div>
                
            </div>
        </div>
    </div>
</div>
