<div mojDir moj-dynamic-fontsize class="ws-wrapper">
    <header>
        <moj-accessible-menu></moj-accessible-menu>
        <moj-website-header mainSiteName="אתר דוגמה" engSiteName="justice angular">
                <moj-website-support-container phone="05411111111" email="justice@justi.gov.il"
                emailSubject="{{'Texts.supportEmailSubject' |translate}}"></moj-website-support-container>
        </moj-website-header>
    </header>
    <main>
        <demo-links></demo-links>
        <back-to-catalog></back-to-catalog>
        <router-outlet></router-outlet>
    </main>
    <footer role="contentinfo">
        <!-- <moj-website-footer versionNumber="1.0.0" [links]="links"></moj-website-footer> -->
    </footer>
</div>