@import "../../../../../css/moj-config-css.scss";

h1 {

}

h2 {
    color: $moj-primary-text-color;
    font-size: 1.428em;
    font-weight: bold;
    margin: 0 0 1em 0 !important;

    &::before {
        content: "";
        display: block;
        width: 4px;
        height: 1em;
        background-color: $moj-primary-color;
        float: right;
        margin-left: 0.4em;
    }
}