<div *ngIf="isPaging" class="ag-theme-balham">
    <div class="ag-paging-panel ag-font-style">
        <span class="ag-paging-row-summary-panel">
            <span *ngIf="enableChangePageSize">
                <select [(ngModel)]="pageSize" (change)="pageSizeChange()" [disabled]="disablePaging">
                    <option *ngFor="let p of pageSizeList" [ngValue]="p.key">{{p.value}}</option>
                </select>
                <span> {{rowsInPageText}}</span>
            </span>
            <span>{{totalRows}} {{resultsText}}</span>
        </span>
        <span class="ag-paging-page-summary-panel">
            <button type="button" class="ag-paging-button" ref="btFirst" (click)="firstClick()"  [disabled]="disablePreviousAndFirst || disablePaging"></button>
            <button type="button" class="ag-paging-button" ref="btPrevious" (click)="previousClick()" [disabled]="disablePreviousAndFirst || disablePaging"></button>
            {{pageText}} <span> <input mojOnlyNumber="true" class="small-center-input" [(ngModel)]="currentPage" [disabled]="disablePaging" (keyup)="currentPageChange()"/> </span> {{ofText}} <span>{{totalPages}}</span>
            <button type="button" class="ag-paging-button" ref="btNext" (click)="nextClick()" [disabled]="disableNextAndLast || disablePaging"></button>
            <button type="button" class="ag-paging-button" ref="btLast" (click)="lastClick()" [disabled]="disableNextAndLast || disablePaging"></button>
        </span>
    </div>
</div>