<div *ngIf="editedItem">
    <form #form="ngForm">
        <moj-line>
            <moj-textbox [(ngModel)]="editedItem.ID" name="productID" [required]="true" labelTextKey="'קוד מוצר'" labelWidthColumns="1"
                         controlWidthColumns="2">
            </moj-textbox>

            <moj-textbox [(ngModel)]="editedItem.ProductName" name="productName" [required]="true" labelTextKey="'שם מוצר'" labelWidthColumns="1"
                         controlWidthColumns="2">
            </moj-textbox>

            <moj-textbox [(ngModel)]="editedItem.UnitPrice" name="unitPrice" [required]="true" labelTextKey="'מחיר'" labelWidthColumns="1"
                         controlWidthColumns="2">
            </moj-textbox>
        </moj-line>
        <moj-buttons-line>
            <moj-grid-cancel-button></moj-grid-cancel-button>
            <moj-grid-save-button [disabled]="true"></moj-grid-save-button>
        </moj-buttons-line>
    </form>
</div>