<moj-example title="Grid edit inline" primengLink="https://www.ag-grid.com/javascript-grid-cell-editor/">
    <moj-line>
        <moj-grid-panel [gridDescription]="'רשימת מוצרים'" [editOptions]="editOptions">
            <moj-line>
                <moj-grid-add-button></moj-grid-add-button>
            </moj-line>
            <moj-line>
                <ag-grid-angular class="ag-theme-balham"
                [gridOptions]=gridOptions
                [rowData]="rowData"
                [columnDefs]="columns">
                </ag-grid-angular>
            </moj-line>
        </moj-grid-panel>
    </moj-line>
</moj-example> 