.moj-actions-popup{
    display:flex;
    background-color: #fff;
    border: 2px solid #9c9c9c; 
    border-radius: 6px;
    box-shadow: 2px 2px 5px #9c9c9c;
    min-width: 200px;
}
.moj-actions-popup .moj-action-popup{
    padding: 14px 8px;
    text-align: center;
    flex:auto;
}
.moj-action-popup:hover i {
    color: #c68602;
}
.moj-action-popup:hover .moj-circle {
    border: 2px solid #c68602;
}

/************************************/
.request::before {
    content: "\f037";
}
.zzz::before {
    content: "\f2bb";
}
.refuse::before {
    content: "\f2a3";
}