.new-submission {
  background-image: url("../../../assets/icons/new-application-submission-icon.svg");
}
.re-submmission {
  background-image: url("../../../assets/icons/resubmit-application-icon.svg");
}

app-flip-card-demo .moj-container.secondary{
    margin-bottom: 0px;
}
