<form [formGroup]="exampleForm">
  <moj-panel [titleKey]="'פקדים'" [isOpen]="true">
    <moj-line>
      <moj-textbox formControlName='name' [labelTextKey]="'שם'" [labelWidthColumns]="1" [controlWidthColumns]="2"></moj-textbox>
      <moj-radiobutton formControlName="type" [controlWidthColumns]="2" [radiovalue]="1" [labelTextKey]="'אפשרות 1'"></moj-radiobutton>
      <moj-radiobutton formControlName="type" [controlWidthColumns]="2" [radiovalue]="2" [labelTextKey]="'אפשרות 2'"></moj-radiobutton>
    </moj-line> 
    <moj-line>
      <moj-datepicker [showTime]=true [labelTextKey]="'מתאריך'" labelWidthColumns="1" controlWidthColumns="2" formControlName="startDate"></moj-datepicker>
      <moj-datepicker [labelTextKey]="'עד תאריך'" labelWidthColumns="1" controlWidthColumns="2" formControlName="endDate"></moj-datepicker>
    </moj-line>
    <moj-line>
      <moj-dropdownlist [labelWidthColumns]="3" [controlWidthColumns]="2" formControlName="dropDownValue" [editable]="true" [fieldID]="'id'"
        [fieldName]="'name'" [items]="dropDownListItems">
      </moj-dropdownlist>
      <moj-checkbox [controlWidthColumns]=1 [labelWidthColumns]=2 formControlName="checkBoxValue" [labelAlign]="labelAlign.Right"
        [labelTextKey]="'Texts.areYouInterested'"></moj-checkbox>
    </moj-line>
    <moj-line>
      <moj-multiselect labelTextKey="Texts.Choose" labelWidthColumns="1" controlWidthColumns="2" [items]="dropDownListItems" [fieldID]="'id'"
        [fieldName]="'name'" formControlName="multiselectValues" required>
      </moj-multiselect>
    </moj-line>
  </moj-panel>   
  <moj-buttons-line>
    <moj-submit-button [form]="exampleForm" (onSubmit)="save()" [buttonStyle]="buttonStyle.Dark" [textKey]="'שמור'"></moj-submit-button>
  </moj-buttons-line>
  {{exampleForm.value | json}}
</form>