<div [ngClass]="[groupColWidth, showValidationMsg ? 'moj-invalid': '']">
    <label-before-content [labelStyle]="labelStyle" [forId]="identifier" [labelAlign]="labelAlign"
        [isRequiredIndication]="isControlRequired$ | async" [widthColumns]="labelWidthColumns" [textKey]="labelTextKey"
        [isLabelAboveControl]="isLabelAboveControl" [isAutoWidth]="isLabelAutowidth">
    </label-before-content>
    <div class="moj-input-container" [ngClass]="controlColWidth">
            <p-calendar [(ngModel)]="value" 
            [dateFormat]="format" 
            [showTime]="showTime" 
            [minDate]="minDate" [maxDate]="maxDate"
            [showButtonBar]="showButtonBar && !timeOnly" 
            [locale]="localeStrings" 
            [showIcon]="true" 
            [inputId]="identifier"
            [placeholder]="placeholder" 
            [disabled]="disabled" 
            [keepInvalid]="true" 
            [showOnFocus]="false"
            [timeOnly]="timeOnly"
            [hideOnDateTimeSelect]="hideOnDateTimeSelect"
            [numberOfMonths]="numberOfMonths" 
            (onBlur)="onCalendarBlur($event)" 
            [monthNavigator]="monthNavigator"
            [yearNavigator]="yearNavigator" 
            [yearRange]="yearRange" 
            (onFocus)="onFocusIn($event)" 
            (onSelect)="onValueChange($event)"
            (onClose)="onClose($event)" 
            [panelStyle]="{'display':'block'}" 
            [selectionMode]="selectionMode"
            (onInput)="onInput($event)">
            <ng-template *ngIf="customTemplate" let-item let-index="index" pTemplate="item">
                <ng-container *ngTemplateOutlet="customTemplate; context: {$implicit: item, index:index}"></ng-container>
            </ng-template>
        </p-calendar>
        <validation-messages [forId]="identifier" *ngIf="showValidationMsg"
            [controlName]="labelTextKey" [messages]="control.errors" [customValidationErrors]="customValidationErrors">
        </validation-messages>
    </div>
</div>
