<div class="wizard-wrapper">
    <div class="container content-wrapper">
        <div class="steps">
            <ul class="ul-steps" #steps role="tablist" [ngClass]="{'disabled':readonly}">
                <li *ngFor="let item of items; let i = index; trackBy"
                    [ngClass]="{'active': (i === activeIndex), 'disabled': item.readonly, 'valid': item.valid }"
                    (click)="itemChange($event, i)">
                    <div class="wizard-item-number">
                        <span>{{i + 1}}</span>
                    </div>
                    <a class="wizard-item-title">{{item.label | translate}}</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div>
                <ng-container *ngFor="let item of items;let i=index">
                    <moj-wizard-item *ngIf="activeIndex == i" [item]="item">
                    </moj-wizard-item>
                </ng-container>
            </div>
            <div class="wizard-navigation-container">
                <div class="wizard-prev-btn">
                    <moj-button [tooltip]="customBackButtonText" [textKey]="customBackButtonText"
                        *ngIf="(isFirstItem && customBackButtonText)" (click)="customBackButtonClick($event)"
                        [iconClass]="'fas fa-chevron-right'" [buttonStyle]="buttonStyle.Secondary">
                    </moj-button>
                    <moj-button [tooltip]="backText" [textKey]="backText" *ngIf="!isFirstItem"
                        (click)="prevClick($event)" [iconClass]="'fas fa-chevron-right'" 
                        [buttonStyle]="buttonStyle.Secondary">
                    </moj-button>
                </div>
                <ng-content select="moj-wizard-buttons"></ng-content>
                <div class="wizard-next-btn">
                    <moj-button *ngIf="!isLastItem" [tooltip]="nextText" [textKey]="nextText"
                        [iconClassLeft]="'fas fa-chevron-left'" (click)="nextClick($event)"
                        [buttonStyle]="buttonStyle.Primary">
                    </moj-button>
                    <moj-button *ngIf="submitButton && isLastItem" [tooltip]="submitText" [textKey]="submitText"
                        [buttonStyle]="buttonStyle.Primary" (click)="nextClick($event)"></moj-button>
                </div>
            </div>
        </div>
    </div>
</div>