<!-- <moj-recaptcha [(ngModel)]="model.recaptchaString"></moj-recaptcha> -->
<form id='demo-form' action="?" method="POST">
  <moj-buttons-line>
    <!-- <moj-button [buttonStyle]="buttonStyle.SmallLight" MojRecaptcha [textKey]="'MojTexts.cancel'" (captchaOk)="onSubmit($event)"
      [(captchaValue)]="model.recaptchaString" name="recaptchaString"></moj-button>

    <moj-button [buttonStyle]="buttonStyle.SmallDark" MojRecaptcha [textKey]="'MojTexts.cancel'" [eventToExecute]="['dblclick']"
      (captchaOk)="onSubmit($event)" [(captchaValue)]="model.recaptchaString1" name="recaptchaString"></moj-button> -->
      <moj-button [buttonStyle]="buttonStyle.SmallDark" [textKey]="'MojTexts.cancel'"
      (click)="onClick()"  name="recaptchaString"></moj-button>
  </moj-buttons-line>
</form>