<nav>
    <div class="navbar navbar-moj">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#topNavbar" (click)="menuClick(true)" [ngClass]="{'active': menuInAction}">
                    <div><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></div><div class="menu-brand">תפריט</div>
                </button>
            </div>
            <div class="sidebar-offcanvas" id="topNavbar" [ngClass]="{'active': menuInAction}">
                <!-- <div class="main-nav">
                    <a (click)="menuActive=true" data-target="#main-nav-menu" [class.active]="menuActive">תפריט</a>
                    <a (click)="menuActive=false" data-target="#main-nav-guidlines" [class.active]="!menuActive">הנחיות</a>
                </div> -->
                <!-- <div class="main-nav-target" id="main-nav-guidlines" [class.open]="menuActive"></div> -->
                <ul class="nav navbar-nav main-nav-target" [ngClass]="{'open': menuInAction, 'active': active2 }" id="main-nav-menu" role="menubar">
                    <ng-content></ng-content>
                </ul>
            </div>
        </div>
        <div class="sidenav-overlay" (click)="menuClick(false)" [ngClass]="{'active': menuInAction }"></div>
    </div>
    <div class="container" *ngIf="breadcrumbsArr | async; let bcItems">
        <ol class="breadcrumb" *ngIf="bcItems.length > 1">
            <li class="breadcrumb-item" [class.active]="item.active" *ngFor="let item of bcItems"><a href="javascript:void(0);" (click)="linkClick(item)">{{ item.textKey | translate }}</a></li>
        </ol>
    </div>
</nav>