<div  [ngStyle]="{'visibility':visible ? 'visible' : 'hidden'}" class="moj-input-container" [ngClass]="[showValidationMsg ? 'moj-invalid': '',controlColWidth]">
    <span class="input-pure float-label">
            <textarea class="ui-textbox ui-inputtext ui-state-default ui-corner-all"
                      [ngClass]="{'ui-state-disabled':disabled, 'moj-input-filled':filled}"
                      [id]="identifier"
                      [(ngModel)]="value"
                      (change)="onChange()"
                      [name]="identifier"
                      [rows]="rows"
                      (focus)="onFocusIn($event)"
                      (blur)="onBlur()"
                      [disabled]="disabled"
                      [placeholder]="placeholder"
                      [maxLength]="maxTextLength">
        </textarea>
        <label-for-content [forId]="identifier" [isRequiredIndication]="isControlRequired$ | async"
                           [textKey]="labelTextKey" >
       </label-for-content>
 </span>
        <validation-messages [forId]="identifier"
                             *ngIf="showValidationMsg"
                             [controlName]="labelTextKey"
                             [messages]="control.errors"
                             [customValidationErrors]="customValidationErrors" role="alert">
        </validation-messages>
        <input-help-text [forId]="identifier" [message]=helpText *ngIf="!showValidationMsg"></input-help-text>
    </div>