/* You can add global styles to this file, and also import other style files */

@import "../../../projects/moj-ng/src/css/moj-config-css.scss";
.moj-ltr {
    @import "../../../projects/moj-ng/src/css/_direction-ltr.scss";
    @import "../../../projects/moj-ng/src/css/moj-ag-grid.scss";
    @import "../../../projects/moj-ng/src/css/moj-common.scss";
    @import "../../../projects/moj-ng/src/css/moj-fonts.scss";
    @import "../../../projects/moj-ng/src/css/moj-buttons.scss";
    @import "../../../projects/moj-ng/src/css/moj-prime.scss";
    @import "../../../projects/moj-ng/src/css/moj-layout.scss";
    @import "../../../projects/moj-ng/src/css/moj-website.scss";

}
.moj-rtl {   
    @import "../../../projects/moj-ng/src/css/_direction-rtl.scss";
    @import "../../../projects/moj-ng/src/css/moj-ag-grid.scss";
    @import "../../../projects/moj-ng/src/css/moj-common.scss";
    @import "../../../projects/moj-ng/src/css/moj-fonts.scss";
    @import "../../../projects/moj-ng/src/css/moj-buttons.scss";
    @import "../../../projects/moj-ng/src/css/moj-prime.scss";
    @import "../../../projects/moj-ng/src/css/moj-layout.scss";
    @import "../../../projects/moj-ng/src/css/moj-website.scss";
}

.demo-section {
    padding: 1em 0 2em;
    display: table;
    width: 100%;
}

.content-section {
    
}

.compodoc-icon{
    background-image: url('assets/MojImages/icons/compodoc-vectorise.png');
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;
    width:25px;
    height: 15px;
}

.identification-card{
    background-image: url('assets/icons/identification-card-icon.svg');
}

.identification-gov{
    background-image: url('assets/icons/identification-government-icon.svg');
}

.most-of-the-funding-icon{
    background-image: url('assets/icons/most-of-the-funding-icon.svg');
 
 }
 
 .most-of-the-funding-icon.disabled{
    background-image: url('assets/icons/most-of-the-funding-disable-icon.svg');   
}


.contribution-icon{
    background-image: url('assets/icons/contribution-icon.svg');
}

