<demo-container [title]="'טקסטים'">
  <div class="demo-section">
    <moj-title [textKey]="'זו דוגמה לכותרת משנית'" [titleType]="Enums.TitleType.Secondary"></moj-title>
  </div>
  <div class="demo-section">
    <moj-title [textKey]="'תוית עם תוכן'" [titleType]="Enums.TitleType.Secondary"></moj-title>
    <moj-line>
      <moj-label-for [(ngModel)]="contactName" name="contactName"></moj-label-for>
    </moj-line>
  </div>
</demo-container>
<!-- 
  <div class="demo-section">
    <h1>זו דוגמה לכותרת ראשית h1</h1>
  </div>

  <div class="demo-section">
    <h2>זו דוגמה לכותרת ראשית h2</h2>
  </div>

  <div class="demo-section">
    <h3>זו דוגמה לכותרת ראשית h3</h3>
  </div>


  <div class="content-section implementation">
    <div class="demo-section">

      <h3>moj-label</h3>
      <moj-dynamic-label [textKey]="'Texts.textexample'" [color]="Enums.MojColor.Purple" [captionType]="'h3'">
      </moj-dynamic-label>
      <br>
      <moj-dynamic-label [textKey]="'Texts.textexample'"></moj-dynamic-label>
    </div>
    <div class="demo-section">
      <h3>label-for-content</h3>
      <moj-dynamic-label [textKey]="'Texts.textexample'" [color]="Enums.MojColor.Purple" [captionType]="'h3'">
      </moj-dynamic-label>
      <br>
      <moj-dynamic-label [textKey]="'Texts.textexample'"></moj-dynamic-label>
    </div>
    <div class="demo-section">
      <h3>moj-dynamic-label</h3>
      <moj-dynamic-label [textKey]="'Texts.mainItem1'" [fontSize]="Enums.FontSize.font16"
        [color]="Enums.MojColor.Purple" [fontWeight]="Enums.FontWeight.bold"></moj-dynamic-label>
    </div> -->



<!-- <div class="demo-section">
      <h3>moj-label-for</h3>
      <moj-label-for [labelWidthColumns]="1"  [labelTextKey]="'dfsdfsdf'" [(ngModel)]="formModel.textField"
      name="textField"></moj-label-for> 
    </div> -->