<demo-container [title]="'טקסטים'">

    <div class="demo-section">
      <moj-title [textKey]="'moj-label'" [titleType]="Enums.TitleType.Secondary" ></moj-title>
 
      <moj-label textKey="{{ labelText }}" [widthColumns]="1" [isAutoWidth]="true" [labelAlign]="Enums.LabelAlign.Right" ></moj-label>
     
    </div>
    
     
   
<div class="demo-section">
  <moj-title [textKey]="'moj-label-for'" [titleType]="Enums.TitleType.Secondary"></moj-title>
      <moj-label-for name="גוף פונה" [(ngModel)]="labelText" [tooltip]="'דוגמא'" [controlWidthColumns]=3>
      </moj-label-for>
    </div>
  
  </demo-container>