<!--<div [ngClass]="" class="QA">
    <div class="container">
        <span class="app-environment">
            סביבת בדיקות
        </span>
    </div>
</div>-->
<div class="web-site-header" role="contentinfo">
    <div class="head-content container">
        <div class="site-logo">
            <span class="font-{{siteNameSize}} main-name">{{mainSiteName | translate}}</span>
            <span [ngClass]="{'online-eng': onlineType == onlineTypeEnum.onlineEng, 'online-heb': onlineType == onlineTypeEnum.onlineHeb}">{{'MojTexts.' + onlineType | translate}}</span>
            <span *ngIf="engSiteName" class="main-eng-name">{{engSiteName | translate}}</span>
            <span *ngIf="subSiteName" class="sub-name">{{subSiteName | translate}}</span>
        </div>
        <div class="left-side">
            <ul *ngIf="isShowLangs" class="langs-culture">
                <li *ngFor="let lanuage of languages" [class.active]="lanuage.code==currentLang"><a href="javascript:void(0)" (click)="changeLang(lanuage)">{{lanuage.value}}</a></li>
            </ul>
            <div *ngIf="isShowMember" class="web-site-header-userlog">
                <span class="helow-member">{{'MojTexts.welcome' | translate}}, {{userName}} | </span>
                <a class="log-out" (click)="onLogoutClick()">{{'MojTexts.logout' | translate}}</a>
            </div>
            <ul class="ul-links">
                <li *ngFor="let link of userActionLinks">
                    <a title="{{link.textKey | translate}}" routerLink="{{link.href}}" target="_blank" (click)="onLinkClick($event)" [attr.id]="link.linkId">{{link.textKey | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="layout-line" *ngIf="addLineAfterHeader"></div>

