<div [ngStyle]="{'visibility':visible ? 'visible' : 'hidden'}"
    [ngClass]="[buttonToggleStyle==buttonToggleStyleEnum.Default?'moj-toggle-container':'']">
    <!-- <div class="moj-input-container"> -->
    <div class="{{buttonToggleStyle}}" [ngStyle]="style" [ngClass]="[showValidationMsg ? 'moj-invalid': '']">
        <button *ngFor="let item of items;trackBy" type="button" (click)="onClick(item)"
            [class]="'moj-button-toggle ' + buttonCssClasses + ' ' + item.cssClasses"
            [ngClass]="{'moj-button-toggle-checked': isSelected(item)}" [disabled]="item.disabled"
            [hidden]="!item.visible">
            <i *ngIf="item.iconClass" [class]="item.iconClass"></i>
            {{item.text | translate}}
        </button>
    </div>
    <validation-messages [forId]="identifier" *ngIf="showValidationMsg" [controlName]="labelTextKey"
        [messages]="control.errors" [customValidationErrors]="customValidationErrors" role="alert">
    </validation-messages>
</div>
<!-- <input-help-text [forId]="identifier" [message]=helpText *ngIf="!showValidationMsg"></input-help-text> -->