.ui-dialog-content.ui-widget-content{
    position: static;
    flex: 1 1;
}

.dialog-bottom{
    bottom: 7px;
    left: 10px;
    position: absolute;
}

.ui-dialog-footer{
    height: 45px;
}

@media (max-width: 767px) {
    .ui-dialog-footer{
        height: 65px;
    }
}

div[role="dialog"]{
    display: flex;
    flex-direction: column;
}