.sticky-alert {
    position: absolute;
    transform: translateY(-100%);
    margin-top: -18px;
    width: 100%;
    background-color: #244c83;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
.sticky-alert i {
    cursor: pointer;
    margin-left: 10px;
    font-size: 1.2em;
}
.sticky-alert .alert-text {
    color: #fff;
}

@media(max-width: 767px) {
    .sticky-alert i {
        font-size: 2em;
    }
}