// :host {
//   &:not(:last-of-type) .moj-card {
//     border-left: 2px solid #e3f2fd;
//     // border-radius: 0px 8px 8px 0px;
//   }
//   &:not(:first-of-type) .moj-card {
//     border-right: none;
//     // border-radius: 8px 0px 0px 8px;
//   }
// }
.cards-container {
  box-shadow: 0px 3px 6px #00000029;
  width: fit-content;
  display: flex;
  margin: auto;
  border-radius: 8px;
  background-color: #fff;
}
.moj-card {
  background: transparent;
  opacity: 1;
  position: relative;
  width: 500px;
  height: 471px;
  display: inline-block;
  &:not(last-of-type) {
    border-left: 2px solid #e3f2fd;
  }
  i {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto 0 auto;
    background-color: #E2F1FC;
    border-radius: 50%;
    margin-top: 24px;
  }
  h2 {
  }
}
