<form NgForm>
    <moj-line>
        <moj-dropdownlist  [controlWidthColumns]="2" [required]="true"
            [(ngModel)]="step1Model.processTypeId" name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="2" [required]="true"
            [(ngModel)]="step1Model.processTypeId" name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="2" [required]="true"
            [(ngModel)]="step1Model.processTypeId" name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-textarea [(ngModel)]="step1Model.note" name="note" labelWidthColumns="2" controlWidthColumns="4"
            [maxTextLength]="5">
        </moj-textarea>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [labelWidthColumns]="2" [controlWidthColumns]="2" [required]="true"
            [(ngModel)]="step1Model.processTypeId" name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [labelWidthColumns]="2" [controlWidthColumns]="2" [required]="true"
            [(ngModel)]="step1Model.processTypeId" name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [labelWidthColumns]="2" [controlWidthColumns]="2" [required]="true"
            [(ngModel)]="step1Model.processTypeId" name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-textarea [(ngModel)]="step1Model.note" name="note" labelWidthColumns="2" controlWidthColumns="4"
            [maxTextLength]="5">
        </moj-textarea>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [labelWidthColumns]="2" [controlWidthColumns]="2" [required]="true"
            [(ngModel)]="step1Model.processTypeId" name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [labelWidthColumns]="2" [controlWidthColumns]="2" [required]="true"
            [(ngModel)]="step1Model.processTypeId" name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [labelWidthColumns]="2" [controlWidthColumns]="2" [required]="true"
            [(ngModel)]="step1Model.processTypeId" name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-textarea [(ngModel)]="step1Model.note" name="note" labelWidthColumns="2" controlWidthColumns="4"
            [maxTextLength]="5">
        </moj-textarea>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [labelWidthColumns]="2" [controlWidthColumns]="2" [required]="true"
            [(ngModel)]="step1Model.processTypeId" name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [labelWidthColumns]="2" [controlWidthColumns]="2" [required]="true"
            [(ngModel)]="step1Model.processTypeId" name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [labelWidthColumns]="2" [controlWidthColumns]="2" [required]="true"
            [(ngModel)]="step1Model.processTypeId" name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-textarea [(ngModel)]="step1Model.note" name="note" labelWidthColumns="2" controlWidthColumns="4"
            [maxTextLength]="5">
        </moj-textarea>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [labelWidthColumns]="2" [controlWidthColumns]="2" [required]="true"
            [(ngModel)]="step1Model.processTypeId" name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [labelWidthColumns]="2" [controlWidthColumns]="2" [required]="true"
            [(ngModel)]="step1Model.processTypeId" name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [labelWidthColumns]="2" [controlWidthColumns]="2" [required]="true"
            [(ngModel)]="step1Model.processTypeId" name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-textarea [(ngModel)]="step1Model.note" name="note" labelWidthColumns="2" controlWidthColumns="4"
            [maxTextLength]="5">
        </moj-textarea>
    </moj-line>
</form>