<h1 style="font-size: 24px; font-weight: bold; padding-bottom: 1em;">מגיש הבקשה הכוללת</h1>
<form NgForm>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="4" [required]="true" [(ngModel)]="step1Model.processTypeId"
            name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="4" [required]="true" [(ngModel)]="step1Model.processTypeId"
            name="processTypeId2" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="4" [required]="true" [(ngModel)]="step1Model.processTypeId"
            name="processTypeId3" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-textarea [(ngModel)]="step1Model.note" name="note"  controlWidthColumns="4"
            [maxTextLength]="5">
        </moj-textarea>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="4" [required]="true" [(ngModel)]="step1Model.processTypeId"
            name="processTypeId4" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="4" [required]="true" [(ngModel)]="step1Model.processTypeId"
            name="processTypeId5" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="4" [required]="true" [(ngModel)]="step1Model.processTypeId"
            name="processTypeId6" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-textarea [(ngModel)]="step1Model.note" name="note2"  controlWidthColumns="4"
            [maxTextLength]="5">
        </moj-textarea>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="4" [required]="true" [(ngModel)]="step1Model.processTypeId"
            name="processTypeId7" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="4" [required]="true" [(ngModel)]="step1Model.processTypeId"
            name="processTypeId8" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="4" [required]="true" [(ngModel)]="step1Model.processTypeId"
            name="processTypeId9" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-textarea [(ngModel)]="step1Model.note" name="note3"  controlWidthColumns="4"
            [maxTextLength]="5">
        </moj-textarea>
    </moj-line>
    <!-- <moj-line>
        <moj-dropdownlist [controlWidthColumns]="4" [required]="true" [(ngModel)]="step1Model.processTypeId"
            name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="4" [required]="true" [(ngModel)]="step1Model.processTypeId"
            name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="4" [required]="true" [(ngModel)]="step1Model.processTypeId"
            name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-textarea [(ngModel)]="step1Model.note" name="note"  controlWidthColumns="4"
            [maxTextLength]="5">
        </moj-textarea>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="4" [required]="true" [(ngModel)]="step1Model.processTypeId"
            name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="4" [required]="true" [(ngModel)]="step1Model.processTypeId"
            name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-dropdownlist [controlWidthColumns]="4" [required]="true" [(ngModel)]="step1Model.processTypeId"
            name="processTypeId" [editable]="true" [items]="processTypeList">
        </moj-dropdownlist>
    </moj-line>
    <moj-line>
        <moj-textarea [(ngModel)]="step1Model.note" name="note"  controlWidthColumns="4"
            [maxTextLength]="5">
        </moj-textarea>
    </moj-line> -->
</form>