.moj-panel {
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #bebebe;
    position: relative;
    &.hide {
        display: none !important;
    }

    .moj-panel-container:after {
        content: "";
        display: block;
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .moj-panel fieldset {
        padding: 0 10px !important;
        width: 100%;
    }
}

.fa-times{
    color: #325082;;
}

.close-panel{
    margin-left: 2px !important;
    top: 7px !important;
}

.moj-grey-panel {
    margin-bottom: 10px;
    
    .moj-panel-container {
        background-color: #f0f0f0;
    }
}

.moj-card-panel {
    background: #fff;
    padding: 10px 20px;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-bottom: 10px;
}

.toggle-additional {
    padding: 4px 30px 4px 0px;
    text-align: left;
    float: left;
    margin: 0px 0px 0px 20px;
    color: #0079EA !important;
    font-size: 13.2px;
    cursor: pointer;

    a {
        color: #0079EA !important;
    }

    i {
        padding-left: 7px;
    }           
}    