 <div class="container popup-container" (click)="isExpended=true" (clickOutside)="isExpended=false">
            <a class="popup-headerContainer ">
                <i class="{{titleIcon}}  title-icon"></i>
                {{popupTitle | translate}}
            </a>
            <div class="popup-content-wrap col-sm-2" [ngClass]="{'bottom-right': popupDir==popupDirection.bottomRight,'bottom-left': popupDir==popupDirection.bottomLeft
          ,'top-right': popupDir==popupDirection.topRight,'top-left': popupDir==popupDirection.topLeft
          }"  [ngStyle]="{'display':isExpended ? 'block' : 'none'}" >  
              <div class="popup-content">
                <div class="popup-arrow-up"></div>
                <moj-line>
                  <div class="floating-popup-ltr">
                   <ng-content></ng-content>
                  </div>
                </moj-line>
              </div>
            </div>
</div>
          