.footer-container {
    padding: 1em 0;
}
  
  .ftrLnks {
  }
  
  .ftrLnks ul {
    padding: 0;
    margin: 0;
    display: table;
  }
  
  .ftrLnks li {
    float: right;
    padding: 0 4px;
  }
  
  .ftrLnks li a {
    font-size: 0.857em;
    color: #0060d4;
  }
    .ftrLnks li a:hover{
        text-decoration: underline;
    }
  
  .copy {
    font-size: 0.857em;
    text-align: left;
  }
  
  @media (max-width: 767px) {
    .copy {
      text-align: right;
    }
  }


  