<sticky-alert [message]="message"></sticky-alert>
<div class="container footer-container">

    <div class="row">

        <div class="col-md-5 copy site-logo">
            <span>| {{'MojTexts.justice' | translate}} © {{curYear}} </span>

        </div>
        <div class="col-md-7 ftrLnks">
            <ul>
                <li><a title="{{'MojTexts.justice' | translate}}"
                        href="https://www.gov.il/he/Departments/ministry_of_justice"
                        target="_blank">{{'MojTexts.main' | translate}}</a></li>
                <li><a title="{{'MojTexts.justice' | translate}}"
                        href="https://www.justice.gov.il/Pages/TermsConditions.aspx"
                        target="_blank">{{'MojTexts.termsConditions' | translate}}</a></li>
                <li><a title="{{'MojTexts.justice' | translate}}"
                        href="https://www.gov.il/he/Departments/General/accessibility"
                        target="_blank">{{'MojTexts.privacy' | translate}}</a></li>
                <li><a title="{{'MojTexts.justice' | translate}}" href=""
                        target="_blank">{{'MojTexts.accessibility' | translate}}</a></li>

                <li *ngFor="let link of links">
                    <a title="{{link.textKey | translate}}" href="{{link.href}}" target="_blank"
                        (click)="onLinkClick($event)" [attr.id]="link.linkId">{{link.textKey | translate}}</a>
                </li>
               <li class="noPadding">|</li>
                <li *ngFor="let link of socialSitesLinks">
                    <a href="{{link.href}}" target="_blank" (click)="onLinkClick($event)" [attr.id]="link.linkId">
                        <i class="{{link.iconClass}} socialIcon"></i></a>
                </li>
                
                
            </ul>
        </div>
        <div class="col-md-5 version">
            <span>{{'MojTexts.versionNo' | translate}}: {{versionNumber}}</span>
            <br>
            <span>{{'MojTexts.browser' | translate}}: {{getBrowserVersion()}}</span>
        </div>

    </div>
</div>