<moj-container [title]="'רשימות תצוגה למערכות BO'" [containerType]="Enums.ContainerType.Secondary"></moj-container>
<div class="moj-container" style="background-color: #f5f7f9;">
    <div class="container">
        <div class="demo-section">
            <moj-title [textKey]="'רשימה בסגנון פאנל'" [titleType]="Enums.TitleType.Secondary"></moj-title>
            <moj-grid-panel [editOptions]="editOptions" [gridDescription]="'רשימת מוצרים'"
                [dataViewType]="dataViewType.List">
                <p-dataView #listView [value]="rowData1" [paginator]="true" [rows]="3">
                    <ng-template let-item pTemplate="listItem">
                        <moj-list-item [listItemType]="Enums.ListItemType.Panel">
                            <moj-list-item-body>
                                <h3>{{item.ProductName}}</h3>
                                <br>
                                <span>עוד טקסט דינאמי, ניתן לשים כאן תמונות, קישורים וכל דבר</span>
                            </moj-list-item-body>
                        </moj-list-item>
                    </ng-template>
                </p-dataView>
            </moj-grid-panel>
        </div>

        <div class="demo-section">
            <moj-title [textKey]="'רשימה בסגנון שטוח'" [titleType]="Enums.TitleType.Secondary"></moj-title>
            <moj-grid-panel [editOptions]="editOptions" [gridDescription]="'רשימת מוצרים'"
                [dataViewType]="dataViewType.List">
                <p-dataView #listView [value]="rowData1" [paginator]="true" [rows]="3">
                    <ng-template let-item pTemplate="listItem">
                        <moj-list-item [listItemType]="Enums.ListItemType.Flat">
                            <moj-list-item-body>
                                <h3>{{item.ProductName}}</h3>
                                <br>
                                <span>עוד טקסט דינאמי, ניתן לשים כאן תמונות, קישורים וכל דבר</span>
                            </moj-list-item-body>
                        </moj-list-item>
                    </ng-template>
                </p-dataView>
            </moj-grid-panel>
        </div>

        <div class="demo-section">
            <moj-title [textKey]="'הצגת כפתורים בעת ריחוף על שורה'" [titleType]="Enums.TitleType.Secondary"></moj-title>
            <moj-grid-panel [editOptions]="editOptions" [gridDescription]="'רשימת מוצרים'"
                [dataViewType]="dataViewType.List">
                <p-dataView #listView [value]="rowData1" [paginator]="true" [rows]="3">
                    <ng-template let-item pTemplate="listItem">
                        <moj-list-item [listItemType]="Enums.ListItemType.Flat">
                            <moj-list-item-body>
                                <h3>{{item.ProductName}}</h3>
                                <br>
                                <span>עוד טקסט דינאמי, ניתן לשים כאן תמונות, קישורים וכל דבר</span>
                            </moj-list-item-body>
                            <moj-list-item-ext>
                                <!-- <moj-grid-edit-button [item]="item"></moj-grid-edit-button>
                                <moj-grid-delete-button [item]="item"></moj-grid-delete-button> -->
                                <button><i class="fas fa-lock-alt"></i></button>
                                <button><i class="fas fa-exclamation"></i></button>
                                <button><i class="fas fa-pencil"></i></button>
                                <button><i class="fas fa-share-alt"></i></button>
                            </moj-list-item-ext>
                        </moj-list-item>
                    </ng-template>
                </p-dataView>
            </moj-grid-panel>
        </div>
    </div>
</div>