<div [ngClass]="[showValidationMsg ? 'moj-invalid': '']" mojDragAndDrop (fileDrop)="onDrop($event)"
    [ngStyle]="{'visibility':visible ? 'visible' : 'hidden'}">
    <label-for-content  [forId]="identifier"
         [isRequiredIndication]="isControlRequired$ | async"
          [textKey]="labelTextKey">
    </label-for-content>
    <ng-container *ngIf="designType == fileUploadDesignType.Single">
        <div class="moj-input-container fu-wrap-single" [ngClass]="controlColWidth">
            <ul *ngIf="value && value.length>0">
                <li class="file-input" *ngFor="let file of value">
                    <div class="file-name ui-inputtext ui-state-default">
                        {{file.name}}
                    </div>
                    <button type="button"
                        title="{{'MojTexts.fu.deleteFile' | translate}}"
                        [attr.aria-label]="'MojTexts.fu.deleteFile' | translate" (click)="deleteFile(file)">
                        <i class="far fa-trash-alt trash-alt"></i>
                    </button>
                    <button type="button" title="{{'MojTexts.fu.addFile' | translate}}"
                        [attr.aria-label]="'MojTexts.fu.addFile' | translate" (click)="addFile()"
                        *ngIf="multiple">
                        <i class="fas fa-plus"></i>
                    </button>

                </li>
            </ul>

            <div class="file-input" *ngIf="showAddFile()">
                <div class="file-name ui-inputtext ui-state-default input-pure">
                    {{ 'MojTexts.fu.dragToHere' | translate}}
                </div>
                <input [id]="identifier" [name]="identifier" type="file" [title]="tooltipTextKey | translate"
                    accept="{{manipulateFileTyps}}" [multiple]="false" (change)="fileChange($event)"
                    [disabled]="disabled" [attr.aria-label]="labelTextKey | translate" />
                <label [for]="identifier" [title]="tooltipTextKey | translate">
                    <i class="fas fa-paperclip"></i>
                </label>
                <button type="button" title="{{'MojTexts.fu.deleteFile' | translate}}"
                    *ngIf="showRemoveAddFile()" [attr.aria-label]="'MojTexts.fu.deleteFile' | translate"
                    (click)="removeAddFile()">
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="progress" *ngIf="showProgress && totalProgress <100">
                <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar"
                    [attr.aria-valuemin]="0" [attr.aria-valuemax]="100" [ngStyle]="{ width: totalProgress + '%' }"
                    [attr.aria-valuenow]="totalProgress">
                </div>
            </div>

            <validation-messages [forId]="identifier" *ngIf="showValidationMsg" [controlName]="labelTextKey"
                [messages]="control.errors"  role="alert">
            </validation-messages >
        </div>
    </ng-container>

    <ng-container *ngIf="designType == fileUploadDesignType.List">
        <div class="moj-input-container fu-wrap" [ngClass]="controlColWidth">
            <div>
                <input [id]="identifier" [name]="identifier" type="file" [title]="tooltipTextKey | translate"
                    accept="{{manipulateFileTyps}}" [multiple]="multiple" (change)="fileChange($event)"
                    [disabled]="disabled" [attr.aria-label]="labelTextKey | translate" />
                <label [for]="identifier" [title]="tooltipTextKey | translate">
                    <i class="fas fa-paperclip"></i>
                    <span>{{ labelTextKey | translate }}</span>
                </label>
            </div>

            <div class="progress" *ngIf="showProgress && totalProgress <100">
                <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar"
                    [attr.aria-valuemin]="0" [attr.aria-valuemax]="100" [ngStyle]="{ width: totalProgress + '%' }"
                    [attr.aria-valuenow]="totalProgress">
                </div>
            </div>

            <validation-messages [forId]="identifier" *ngIf="showValidationMsg" [controlName]="labelTextKey"
                [messages]="control.errors">
            </validation-messages>

            <ul class="ul-files" *ngIf="showFileList">
                <li *ngFor="let file of value">
                    <span>{{file.name}}</span>
                    <button type="button" class="far fa-trash-alt trash-alt" (click)="deleteFile(file)"
                        title="{{'MojTexts.fu.deleteFile' | translate}}"
                        [attr.aria-label]="'MojTexts.fu.deleteFile' | translate"></button>
                </li>
            </ul>
        </div>
    </ng-container>
</div>