/*** LTR websites ***/
$direction           :ltr;
$opposite-direction   :rtl;

$start-direction     :left;
$end-direction       :right;

$transform-direction :1;

$bt-next:"\f105";
$bt-previous:"\f104";


$bt-last:"\f101";
$bt-first: "\f100";
  