ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  outline: none;
  text-decoration: none;
}

label {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

input,
textarea {
  border-color: $moj-input-border-color;
  &[disabled] {
    @include input-disabled;
  }
  &::focus {
    @include input-focus;
  }
  &[readonly] {
    @include input-readonly;
  }
}

input::-ms-clear {
  display: none;
}

fieldset {
  border: 0 none !important;
  padding: 0px !important;
  margin: 0px !important;
}

::-webkit-input-placeholder {
  color: $moj-primary-text-color;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $moj-primary-text-color;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $moj-primary-text-color;
}

:-ms-input-placeholder {
  color: $moj-primary-text-color;
}
/****************************************************************************************************************/
/* inputs, validation
/****************************************************************************************************************/
.moj-input-container {
  position: relative;
  padding-#{$start-direction}: 0px !important;
  padding-#{$end-direction}: 0px !important;
  margin-#{$end-direction}: 1.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "input content" "msg msg";

  .moj-el-lg {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  p-dropdown,
  p-calendar,
  p-multiselect,
  p-autocomplete,
  .ui-textbox.ui-inputtext {
    grid-area: input;
  }

  ng-content {
    grid-area: content;
  }

  validation-messages {
    grid-area: msg;
  }
}

.input-pure {
  position: relative;
}

.field-validation-error span {
  clear: both;
  font-size: 0.75em;
  color: $moj-danger-color !important;
  display: block;
  padding-#{$start-direction}: 1em;
}

/****************************************************************************************************************/
/* general
/****************************************************************************************************************/
.row {
  margin-#{$end-direction}: 0 !important;
  margin-#{$start-direction}: 0 !important;
}
.moj-label .control-label.align-right {
  text-align: $start-direction;
}

.moj-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.auto-width {
  width: auto;
}

.left-to-right {
  direction: $opposite-direction;
}

.right-to-left {
  direction: $direction;
}

.moj-disabled {
  pointer-events: none;
}

.dragged {
  transition: 0.3s;
  background-color: #f0f7fb;
  border: 1px dashed #006ebc;
}
.dragged:after {
  content: "";
  /* clear: both; */
}

.offscreen {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
}
legend.offscreen {
  width: initial !important;
}

.moj-form-line {
  width: 100%;
  display: table;
  margin-top: 1em !important;

  .col {
    float: $start-direction;
    margin-#{$end-direction}: 10px;
    min-height: 20px;
    position: relative;
  }
  + h3 {
    margin-top: 1em !important;
  }
}
.moj-form-line > *:last-child {
  .moj-input-container[class*="col-sm"],
  .label-above[class*="col-sm"] {
    padding-#{$end-direction}: 0 !important;
  }
}

form {
  .moj-form-line {
  }

  h1,
  h2,
  h3 {
    display: block;
    margin-bottom: 1rem !important;
  }
  .moj-section-seperator:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $moj-border-area-color;
    display: block;
    margin: 1.5em 0;
  }
}

fieldset {
  h1,
  h2,
  h3 {
    display: block;
    margin-bottom: 1rem !important;
  }
}

@media (max-width: 767px) {
  .txt-left {
    text-align: $start-direction !important;
  }

  .col:not(.hide):not(.radio-txt):not(.moj-button) {
    display: inline-block !important;
    float: initial !important;
    vertical-align: top;
  }
  [class*="col-sm"] {
    margin-top: 0.5em;
  }
  .moj-input-container {
    padding-#{$end-direction}: 0px !important;
  }
}

.no-border-bottom {
  border-bottom: 0px;
}

.no-border-top {
  border-top: 0px;
}

.no-padding {
  padding: 0 !important;
}

.fa-calendar-alt {
  color: $moj-input-text-color;
  font-size: 1.3em;
  font-weight: 400;

  &:hover {
    color: #c68602;
  }

  &:disabled {
    color: #5e5e5e;
  }
}

/****************************************************************************************************************/
/* custom tooltip
/****************************************************************************************************************/
[data-tooltip] {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    #{$end-direction}: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
    z-index: 99;
    opacity: 0;
  }

  &::after {
    content: attr(data-tooltip);
    position: absolute;
    #{$end-direction}: 50%;
    top: -10px;
    transform: translateX(-50%) translateY(-100%);
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #fff;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: normal;
    border-radius: 5px;
    pointer-events: none;
    z-index: 99;
    opacity: 0;
    white-space: nowrap;
  }

  &:hover::after,
  &:hover::before {
    opacity: 1;
  }
}

/****************************************************************************************************************/
/* cards list
/****************************************************************************************************************/
@mixin flat() {
  border: 1px solid transparent;
  &:hover {
    border-color: #d6d6d6;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
  }
}

@mixin panel() {
  border: 1px solid #e2f3f6;
  &:hover {
    border-color: #0497ac;
    background-color: #f2f8fa;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
  }
}

@mixin details {
  border: 1px solid #5c6b7c;
  border-radius: 4px;

  moj-list-item-header {
    padding-bottom: 1em;
    margin-bottom: 0.8em;
    border-bottom: 1px solid #dbdbdb;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
  }
}

.star {
  color: $moj-danger-color;
}

@mixin info {
  border: 1px solid #ccd0d6;
  border-radius: 4px;
  padding: 0;

  moj-list-item-header {
    background-color: #e7f0f9;
    padding: 1em;
  }

  moj-list-item-body {
    padding: 1em;
  }

  moj-list-item-ext {
    > button,
    .moj-button {
      @include light-on-dark;
    }
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
  }
}

@mixin light-on-dark {
  &::before,
  i {
    color: $moj-secondary-text-color !important;
    font-size: 1.15em;
  }

  &:hover {
    background-color: #ffffff80;

    &::before,
    i {
      color: $moj-primary-color !important;
    }
  }

  &:active {
    background-color: #ffffff;
  }
}

@mixin dark-on-light {
  &::before,
  i {
    color: $moj-secondary-text-color !important;
    font-size: 1.15em;
  }

  &:hover {
    background-color: #e7f0f980;

    &::before,
    i {
      color: $moj-primary-color !important;
    }
  }

  &:active {
    background-color: #e7f0f9cc;
  }
}

.moj-card-list-item {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
  display: block;
  position: relative;

  &.moj-list-flat {
    @include flat;
  }

  &.moj-list-panel {
    @include panel;
  }

  &.moj-list-details {
    @include details;
  }

  &.moj-list-info {
    @include info;
  }

  h3 {
    font-size: 1.142em;
    font-weight: bold;
    color: $moj-primary-text-color;
  }

  moj-list-item-header,
  moj-list-item-body {
    display: block;
  }

  moj-list-item-ext {
    opacity: 0;
    background-color: transparent;
    transition: 0.2s;
    position: absolute;
    #{$end-direction}: 0;
    top: 0;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: $opposite-direction;

    moj-button {
      margin: 0 !important;
    }

    > button,
    .moj-button {
      margin: 0 !important;
      cursor: pointer;
      border-radius: 50%;
      background-color: transparent;
      box-shadow: none;
      border: none;
      width: 2.5em;
      height: 2.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;

      @include dark-on-light;
    }
  }

    &:hover {
        moj-list-item-ext {
            opacity: 1;
        }
    }

    .moj-list-item-key {
        display: inline-block; margin-left: 3em;
    }
    .moj-list-item-value {
        font-weight: bold;;
    }
}

.fa-trash-alt[disabled],
.fa-pencil-alt[disabled],
.fa-copy [disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.row-data-title {
  background-color: #f0f5f7;
  padding: 5px;
  font-size: 1.125em !important;
  color: #010101;
  font-weight: 700;
  line-height: 15px;
}

.row-data-txt {
  display: block;
  line-height: 2;
}

.moj-overlay {
  background-color: black;
  opacity: 0.4 !important;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50000;
}

/* Floating Label */
.float-label {
  position: relative;
}

.float-label > label-for-content > label {
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  right: 0.75em;
  top: 50%;
  margin-top: -0.5em;
  transition: 0.3s ease all;
  color: #898989;
  line-height: 1;
  background-color: #fff;
}

input-help-text {
  grid-area: msg;
  line-height: 1em;
  span {
    padding-#{$start-direction}: 1em;
    font-size: 0.75em;
    display: inline;
    color: $moj-input-text-color;
  }
}

@mixin float-label {
  padding: 0 0.3em 0 0.3em;
  background-color: white;
  top: 0em;
  font-size: 0.75em;
  right: 0.75em !important;
}

.float-label > input:focus,
.float-label > textarea:focus,
.ui-inputwrapper-focus {
  ~ label-for-content > label {
    @include float-label;
    color: $moj-input-focus-border-color;
  }
}

.float-label > input:disabled,
.float-label > textarea:disabled,
.moj-input-disabled {
  ~ label-for-content > label {
    color: $moj-input-disable-color;
  }
}

.moj-input-filled {
  ~ label-for-content > label {
    @include float-label;
  }
}

.ui-textbox,
p-calendar .ui-inputtext,
.ui-autocomplete .ui-inputtext,
.ui-dropdown,
.ui-multiselect {
  border-color: $moj-input-border-color;
  border-radius: 8px !important;
  min-height: 52px;
  &:hover:not(.ui-dropdown-trigger):not(.ui-multiselect-trigger):not(:focus):not(.ui-state-focus) {
    @include input-off;
  }
  &:focus,
  &.ui-state-focus {
    @include input-focus;
  }
  &:disabled {
    @include input-disabled;
    opacity: 1 !important;

    &.ui-autocomplete-dropdown {
      background-color: transparent !important;
    }
  }
}

.moj-invalid {
  .ui-inputtext.ui-state-default,
  .ui-dropdown,
  .ui-multiselect {
    border-color: $moj-danger-color !important;
  }

  &.label-above .moj-label-content label::after {
    @include error-icon();
    margin-#{$start-direction}: 5px;
  }

  & {
    .ui-calendar::after,
    .input-pure::after,
    p-autocomplete:not(.drop-down) .ui-autocomplete::after {
      @include error-icon();
      position: absolute;
      #{$end-direction}: 1em;
      top: 50%;
      transform: translate(0, -50%);
    }
    .ui-calendar::after {
      #{$end-direction}: 2.5em;
    }
    .ui-dropdown::after,
    .ui-autocomplete-dd::after,
    .ui-multiselect::after {
      #{$end-direction}: 24px;
    }
  }
}

.moj-invalid {
  input:focus,
  .moj-input-filled,
  .ui-inputwrapper-filled,
  .ui-inputwrapper-focus {
    ~ label-for-content > label {
      @include float-label;
      color: $moj-danger-color;
    }
  }
}

.check-radio-label {
  &:after {
    content: "";
    transform: scale(0);
    width: 40px;
    height: 40px;
    background-color: $moj-checkbox-hover-color;
    border-radius: 20px;
    float: right;
    position: absolute;
    right: 2px;
    top: -7px;
    z-index: -1;
    pointer-events: none;
    transition: 0.5s;
  }
  &:hover:after {
    transform: scale(1);
  }
}

input:focus ~ .check-radio-label:after {
  transform: scale(1);
}

.moj-toggle-container {
  display: inline-block;
  .field-validation-error span{
    padding-#{$start-direction}: 3em;
    padding-top: 3px;
  }
}