@import "../../../../../css/moj-mixins.scss";

.header-search {
    display: flex;
    @include mobile {
        flex-direction: column;  
    }

    p-dropdown {
        @include desktop {
            margin: 0 1em;
        }
        .ui-state-default, label.ui-dropdown-label {
            background: transparent !important;
            color: #fff;
            border: none;
        }
    }

    

    input, button {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        color: #fff;
    }

    input {
        padding: 0 0.3em;
    }

    .advance-search {
        border: 1px solid #fff;
        padding: 0 0.5em;
        white-space: nowrap;
        @include desktop {
            margin: 0 1em;
        }
    }

    ::placeholder { 
        color: #fff;
        opacity: 0.5;
      }
}

.moj-ltr
{
    .header-search {

    
        p-dropdown {
            @include desktop {
                margin: 0 0 0 1em !important ;
            }
        }
        input {
            padding: 0  0 0 0.3em !important ;
        }
    
        .advance-search {
            padding: 0 0 0 0.5em!important ;
            @include desktop {
                margin: 0 0 0 1em !important ;
            }
        }
    

    }
}