<div class="header-search">
    <p-dropdown [disabled]="disabledSearch" *ngIf="showSearchCombo" [options]="searchItems" [(ngModel)]="selectedSearch" optionLabel="label"
        placeholder="{{searchSystemText}}" (onChange)="searchComboChange($event)"></p-dropdown>
    <div class="ui-inputgroup" *ngIf="addSearch">
        <input type="text" placeholder="{{searchPlaceholder}}" [(ngModel)]="searchInput" (keyup.enter)="search($event)">
        <button type="button" (click)="search($event)">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <button class="advance-search">חיפוש מתקדם</button>
</div>