<demo-container [title]="'sliding-menu'">
    <div class="moj-sliding-menu-container">
        <sliding-menu [rtl]="true" [title]="'filter'" [top]="'150px'" [isSliding]="false">
            <moj-filter [config]="filterConfig" (filterChange)="filterMyData()" #filter></moj-filter>
        </sliding-menu>
        <div>
            בדוגמה הימנית מופיע הרכיב כשהוא צף
            כפי שניתן לראות ישנה אפשרות לשלוט בגובה
            הרכיב
            <br>
            במרכז המסך מופיע הרכיב כשהוא דוחף
            את התוכן מימינו או משמאלו לפי הכיוון בו הוא ממוקם
        </div>

        <sliding-menu [rtl]="false" [title]="'filter'" [top]="'150px'" [isSliding]="false">
            <moj-filter [config]="filterConfig" (filterChange)="filterMyData()" #filter></moj-filter>
        </sliding-menu>

    </div>
</demo-container>
  <sliding-menu [rtl]="true" [title]="'filter'" [top]="'150px'" [isSliding]="true">
    <moj-filter [config]="filterConfig" (filterChange)="filterMyData()" #filter></moj-filter>
  </sliding-menu>

