<moj-notification 
    message="מספרי האליפסות נבדקו ואושרו, ניתן להתקדם בתהליך"
    [type]="mojNotificationType.Info">
</moj-notification>
<br>
<moj-notification 
    message="מספרי האליפסות נבדקו ואושרו, ניתן להתקדם בתהליך"
    [type]="mojNotificationType.Success">
</moj-notification>
<br>
<moj-notification 
    message="מספרי האליפסות נבדקו ואושרו, ניתן להתקדם בתהליך"
    [type]="mojNotificationType.Warning">
</moj-notification>
<br>
<moj-notification 
    message="מספרי האליפסות נבדקו ואושרו, ניתן להתקדם בתהליך"
    [type]="mojNotificationType.Error">
</moj-notification>