#app-environment {
  padding-right: 10%;
  color: #ffffff;
  font-size: 2.285em !important;
  font-family: 'BN Bilbo';
}
#topPanel1.Dev {
  background: -webkit-linear-gradient(bottom, #2073b4, #2073b4);
}

#topPanel1.QA {
  background: -webkit-linear-gradient(bottom, #e12a2b, #e02428);
}

#topPanel1.Integration {
  background: -webkit-linear-gradient(bottom, #4db849, #4ab148);
}

#topPanel1.Production {
  background: -webkit-linear-gradient(bottom, #324b82, #506eaa);
}

#topPanel1.Customers {
  background: -webkit-linear-gradient(bottom, #fcd209, #e6b221);
}

#topPanel1 {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #1e3764; /* fallback */
  background-color: #506eaa;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#324b82), to(#506eaa)); /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(bottom, #324b82, #506eaa); /* Firefox 3.6+ */
  background: -moz-linear-gradient(bottom, #324b82, #506eaa); /* IE 10 */
  background: -ms-linear-gradient(bottom, #324b82, #506eaa); /* Opera 11.10+ */
  background: -o-linear-gradient(bottom, #324b82, #506eaa);
}
.container {
  width: 1270px;
  margin: 0 auto;
  display: table;
}
.logo-menora {
  float: right;
  width: 28px;
  height: 33px;
  background-image: url("../../../../../assets/MojImages/icons/MenoraLogo.png");
  margin-top: 5px;
}
.logo {
  width: auto;
  height: auto;
  padding: 0 10px 0 0;
  float: right;
}
.logo span {
  color: #ffffff;
  font-size: 2.285em;
}
@font-face {
  font-family: 'BN Bilbo';
  src: url('../../../../../assets/fonts/BN_Bilbo.woff') format('woff');
}

.BN-font {
  font-family: 'BN Bilbo';
}
.font-size24 {
  font-size: 1.714em !important;
}

.login {
  margin-top: 6px;
  float: left;
  margin-left: 10px;
}

.login .user-menu {
  float: left;
  width: 40px;
}

.sign-img {
  width: 31px;
  height: 24px;
  background-image: url(../../../../../assets/MojImages/icons/UserButton.png);
}

.login .username {
  float: left;
  padding-top: 11px;
  font-size: 0.857em;
  color: #fff;
}

.user-menu {
  position: absolute;
  border: 1px solid #a9a9a9;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-2em);
  z-index: -1;
  height: 0px;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, transform 0.3s ease-in-out 0.25s;
}

.login div:hover .user-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  height: auto;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.user-menu a {
  color: #00a0dc;
  text-decoration: none;
  background: white;
  padding: 7px;
  cursor: pointer;
  display: block;
}

.app-logo {
  float: right;
}

.user-menu li:hover a{
    background: -webkit-linear-gradient(top,#e6e6e6 0%,#EDEDED 50%,#e6e6e6 100%);
}

.user-menu li:not(:last-child) {
  list-style: none;
  border-bottom: rgb(204, 204, 204) 1px dashed;
}

ul.user-menu {
  margin: 0;
  padding: 0;
  min-width: 150px;
  list-style: none;
}
