
// .c
// {
//   &::before
//   {
//     display: table;
//     content: " ";
//   }
// }

.header-Container {
  cursor: pointer;
  position: relative;
  top: 0.7rem;
  font-family: Arial, Sans-Serif;
  font-size: 1em;
  color: #fff;
}

.support-wrap {
  top: calc(0.7rem + 30px);
  position: absolute;
  float: left;
  left: 19%;
  z-index: 9999 !important;
  display: none;
  padding: 0;
}

.support {
  margin-top: 11px;
  background: #fff;
  border: 1px solid #003468;
  border-bottom: 10px solid #3583d6;
  padding: 0 !important;
  box-shadow: 4px 4px 7px 0px #c8c8c8;
}

.header-Container:hover + .support-wrap, .support-wrap:hover {
  display: block;
}

.arrow-up {
  left: 15px;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
    left: 19px;
    border: 11px solid transparent;
    border-bottom-color: #003468;
  }

  &:after {
    left: 20px;
    border: 10px solid transparent;
    border-bottom-color: white;
  }
}
  .row-wrap {
    border-bottom: 1px solid #e4e4e4;
  }

  .img {
    text-align: center;
    border-left: 1px solid #e4e4e4;
    padding: 16px 0;
  }
  .ltr {
    direction: ltr;
    float: right;
    margin-right: 20px;
    //padding: 16px 0;
  }
  .support-bottom {
    padding: 10px;
  }
  .support-bottom > span {
    width: 100%;
    display: block;
  }
  a {
    color: #0060d4;
  }

  hr {
    margin: 0px;
  }



  .icn_support
  {
    background-image: url(../../../../../assets/MojImages/icons/Icn_Support.png);
    background-repeat: no-repeat;
    background-position: right;
  }

.icn_phoneNum{
  background-image: url(../../../../../assets/MojImages/icons/Icn_PhoneNum.png);
  background-repeat: no-repeat;
  /* align-content: center; */
  background-position: center;
}
.icn_email
{
  background-image: url(../../../../../assets/MojImages/icons/Icn_Email.png);
  background-repeat: no-repeat;
  /* align-content: center; */
  background-position: center;
}
.supportContainertxt
{
  padding-right: 19px;
}







.support-container {
  padding-left: 0px !important;
  width:136px;
  height: 33px;
  float: left;
  position: absolute;
  top:0px;
  left: 20%;
}

.supportContainer  {
  cursor: pointer;
  position: relative;
  //text-align: left;
  font: Medium 18px/22px;
  letter-spacing: 0;
  color: #fff;
  opacity: 1;
  font-size: 18px;
  line-height: 22px;
  top: 0.5rem;
  font-family: Arial, Sans-Serif;
}

.title-icon {
  padding-right: 3px;
}

.support-content-wrap {
  width: fit-content;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 0.6000000238418579px solid #5E728A;
  opacity: 1;
  margin-top: 19px;
  position: relative;
  z-index: 9999 !important;
 display: none;
  min-width: 250px;
  float: left;
  left:3px;
}
.header-Container:hover
{
  color: #fff !important;
}
.header-Container:hover + .support-content-wrap, .support-content-wrap:hover {
  display: block;
}
.support-content-wrap
{
  border: 1px solid #003468;
  border-bottom: 10px solid #3583d6;
}


.popup-arrow-up {
  right: 51px !important;

  &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 100%;
      width: 0;
      left: 19px;
      height: 0;
  }

  &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 100%;
      width: 0;
      height: 0;
      left: 19px;
      border: 11px solid transparent;
      border-bottom-color: #003468;
  }

  &:after {
      border: 10px solid transparent;
      border-bottom-color: white;
  }
}

.support-ltr {
  direction: ltr;
  float: right;
  //margin-right: 10px;
  //padding: 16px 0;
  width: 100%;
}

a {
  color: #0060d4;
}

hr {
  margin: 0px;
}

.bottom-right {
  float: left !important;
}

.bottom-left {
  float: right !important;

  .popup-arrow-up {
      right: initial !important;
      left: 51px !important;

      &:after {
          right: 23px;
          left: initial !important;
      }

      &:before {
          right: 23px;
          left: initial !important;
      }
  }
}

.top-right {
  transform: translatey(-100%);
  margin-top: -30px;

  .popup-arrow-up {

      &::before {
          left: 19px;
      }
  }
}

.top-left {
  transform: translatey(-100%);
  margin-top: -30px;
  float: right !important;

  .popup-arrow-up {
      right: initial !important;
      left: 51px !important;

      &:after {
          right: 23px;
          left: initial !important;
      }

      &::before {
          right: 23px;
          left: initial !important;
          content: "";
      }
  }
}



//-------------------------------------- responsive-------------------------------------------------
@media (max-width: 767px) {
  .support-content-wrap {
      min-width: 100px !important;
  }


  .bottom-left, .top-left {
      float: left !important;
  }

  .top-left, .top-right {
      margin-top: -40px !important;
  }

  .top-left, .bottom-left {
      .popup-arrow-up {
          &:after {
              right: initial !important;
              left: 19px !important;
          }

          &::before {
              left: 19px !important;
              right: initial !important;
          }
      }
  }
}

//------------------------------------------ moj-ltr ---------------------------

.moj-ltr {
  
  .header-Container {
    float: right !important;
    left: initial !important;
    right:1%;
}

.support-container
{
float: right !important;
left: initial !important;
right:20% ;
}
  .support-wrap {
    float: right !important;
    left: initial !important;
    right: 19% !important;
  }

  .arrow-up {
    left: initial !important;
    right: 15px;
    position: relative;
    &:before {
      left: initial !important;
      right: 19px;
    }

    &:after {
      left: initial !important;
      right: 20px;
    }
  }


    .img {
      border-left: none !important;
      border-right: 1px solid #e4e4e4;
    }
    .ltr {
      direction: rtl;
      float: left !important;
      margin-right: initial !important;
      margin-left: 20px;

    }

    .icn_support
    {
      background-image: url(../../../../../assets/MojImages/icons/Icn_Support.png);
      background-repeat: no-repeat;
      background-position: left;
    }

  .icn_phoneNum{
    background-image: url(../../../../../assets/MojImages/icons/Icn_PhoneNum.png);
    background-repeat: no-repeat;
    /* align-content: center; */
    background-position: center;
  }
  .icn_email
  {
    background-image: url(../../../../../assets/MojImages/icons/Icn_Email.png);
    background-repeat: no-repeat;
    /* align-content: center; */
    background-position: center;
  }
  .supportContainertxt
  {
    padding-right: initial !important;
    padding-left : 22px;
  }
  .popup-container {
      padding-left: initial !important;
      padding-right: 4px !important;
      float: right !important;
  }

  .support-content .moj-form-line
  {
   margin-left: -15px !important;
  }

  .support-content-wrap {
      min-width: 300px;
      float: right;
  }

  .support-ltr {
      direction: rtl !important;
      float: left !important;
      margin-left: 20px;
      margin-right: initial !important;
  }



  .bottom-right {
      float: right !important;

      .popup-arrow-up {
          right: initial !important;
          left: 51px !important;

          &:after {
              right: 23px !important;
              left: initial !important;
          }

          &:before {
              right: 23px !important;
              left: initial !important;
          }
      }
  }

 
  
}

@media (max-width: 1000px)
{
.support-container {
   left:5% !important;
}
}

// @media (min-width: 992px)
// {.support-container {
//   left:10%
// }
// }
// @media (min-width: 768px)
// {.container {
//   left:5%
// }
// }