<!-- <div class="container c">
    <div class="supportContainer icn_support">
      <div class="supportContainertxt" >
        {{'MojTexts.supportMenuTitle' | translate}}
      </div>
    </div>
    <div class="support-wrap col-sm-2">
      <div class="support">
        <div class="arrow-up"></div>
        <moj-line>
          <div class="col-sm-3 img icn_phoneNum" data-message="'MojTexts.phoneNumer' | translate">
          </div>
          <div class="ltr" aria-describedby="supportphone">
            <span class="font-14" id="supportphone" >{{phone}}</span>
          </div>
        </moj-line>
        <hr />
        <moj-line>
          <div class="col-sm-3 img icn_email" data-message="'MojTexts.email' | translate">
          </div>
          <div class="ltr" aria-describedby="supportEmail">
            <a class="font-14" id="supportEmail" href="mailto:{{email}}?subject={{emailSubject}}"> {{email}}</a>
          </div>
        </moj-line>
        <hr/>
        <div class="support-bottom" aria-describedby="supportHeadline supportText" >
          <span class="font-12" id="supportHeadline">{{supportHeadline}}</span>
          <span class="bold font-12" id="supportText">{{supportText}}</span>
        </div>
      </div>
    </div>
  </div> -->
  



  <div class="container support-container ">
   <a class="header-Container" >
     <div class="icn_support">
        <div class="supportContainertxt  icn_support" >
            {{'MojTexts.supportMenuTitle' | translate}}
          </div>
     </div>
         
      </a>
      <div class="support-content-wrap col-sm-2 bottom-right" >  
          <div class="arrow-up"></div>
        <div class="support-content">
          <moj-line>
            <div class="support-ltr">
                <moj-line>
                    <div class="col-sm-3 img icn_phoneNum" data-message="'MojTexts.phoneNumer' | translate">
                    
                    </div>
                    <div class="ltr" aria-describedby="supportphone">
                      <span class="font-14" id="supportphone" >{{phone}}</span>
                    </div>
                  </moj-line>
                  <hr />
                  <moj-line>
                    <div class="col-sm-3 img icn_email" data-message="'MojTexts.email' | translate">
        
                    </div>
                    <div class="ltr" aria-describedby="supportEmail">
                      <a class="font-14" id="supportEmail" href="mailto:{{email}}?subject={{emailSubject}}"> {{email}}</a>
                    </div>
                  </moj-line>
                  <hr/>
                  <div class="support-bottom" aria-describedby="supportHeadline supportText" >
                    <span class="font-12" id="supportHeadline">{{supportHeadline}}</span>
                    <span class="bold font-12" id="supportText">{{supportText}}</span>
                  </div>
            </div>
          </moj-line>
        </div>
      </div>
</div>